<!DOCTYPE html>
<html>
  <head>
    <title>StarterTemplate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

        <%= render 'layouts/navbar'%>
        <div class="container">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>

        <%= yield %>
      </div>

  </body>
</html>
